.cartas {
  display: grid;
  opacity: 0;
  position: absolute;
  aspect-ratio: 1/1;
  gap: 10px;
  justify-content: center;
  align-items: center;
  animation: changeState 1s;
  animation-iteration-count: infinite;
  margin: 0;
}

.cartas img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 600px) {
  .cartas{
    gap: 0;
  }

  .cartas img {
    width: 80%;
  }
}
