* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  width: 100vw;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  overflow-x: hidden;
  background-color: #E9C97C;
}

img {
  user-select: none;
}

input {
  display: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/estrellas.png);
  background-color: #e9c97c;
  height: 80vh;
}

@media (max-width: 805px) {
  main {
    align-items: flex-start;
    padding-top: 50px;
  }
}

@media (max-height: 790px) {
    main {
      margin-bottom: 108px;
    }
  }
  